@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    string message = TempData["message"] as string;
}
@if(!String.IsNullOrEmpty(message)){
<div aria-live="polite" aria-atomic="true" class="toast-container position-fixed p-3" style="bottom: 25px; right:25px; z-index: 100;">
    <div class="toast fade show " role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto text-success">Success!!</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @TempData["message"]
        </div>
    </div>
    </div>
}

<h1>All Employee</h1>
<br />
<br />

<a asp-action="Create" asp-controller="Employee" class ="btn btn-primary mb-3">➕Create Employee</a>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover table-bordered shadow-sm">
        <thead class="table-dark text-center">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Adress</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>IsActive</th>
                <th>IsDeleted</th>
                <th>@Html.DisplayNameFor(e=>e.HiringDate)</th>
                <th>@Html.DisplayNameFor(e=>e.CreateAt)</th>
                <th>Details</th>
                <th>update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Salary</td>
                    <td>
    @if (item.IsActive)
    {
        <span class="badge bg-success">Active</span>
    }
    else
    {
        <span class="badge bg-secondary">Inactive</span>
    }
</td>

<td>
    @if (item.IsDeleted)
    {
        <span class="badge bg-danger">Deleted</span>
    }
    else
    {
        <span class="badge bg-success">Not Deleted</span>
    }
</td>

                    <td>@item.HiringDate</td>
                    <td>@item.CreateAt</td>
                    <partial name="DepartmentEmployeePartial" model="@item.Id" />
                </tr>
            }
            
        </tbody>
    </table>
    
}
else
{
    <div class="mt-4 alert alert-info d-flex align-items-center">
    <i class="bi bi-info-circle-fill me-2"></i>
    <span>There are no employees 🙂</span>
</div>

}


